# byte-compiled
etlconsole/__pycache__/
etlconsole/source/__pycache__/

# PyCharm files
.idea/

# EasyTl-CLI files

# EasyTl cache folder
etlconsole/cache/*
!etlconsole/cache/.gitkeep

# EasyTl logs folder
etlconsole/logs/*
!etlconsole/logs/.gitkeep

# creds for test
etlconsole/test_creds.py
etlconsole/EasyTl.session
etlconsole/EasyTl.session-journal
etlconsole/EasyTl-TestInstance.session
etlconsole/EasyTl-TestInstance.session-journal

# SearchPlease plugin cache
etlconsole/.google-cookie

# already installed
etlconsole/run.bat
etlconsole/run.sh
etlconsole/ffmpeg/

test/
IGNR_*