# Byte-compiled
__pycache__/
source/__pycache__/

# PyCharm files
.idea/

# EasyTl cache folder
cache/*
!cache/.gitkeep

# EasyTl logs folder
logs/*
!logs/.gitkeep

# do not use my sessions and cookies for test =)
test_creds.py
.google-cookie
EasyTl.session
EasyTl.session-journal

# what I want to do you're will not see!
todo*.txt

# in the progress :)
README_ru.md
README_ua.md
documentation/

# already installed ffmpeg
ffmpeg/