# Byte-compiled
__pycache__/
source/__pycache__/

# EasyTl cache folder
cache/*
!cache/.gitkeep

# EasyTl logs folder
logs/*
!logs/.gitkeep

# PyCharm files
.idea/

# do not use my sessions and cookies for test =)
test_creds.py
.google-cookie
EasyTl.session
EasyTl.session-journal

# what I want to do you're will not see!
todo_.txt

# keep only required plugins and languages
lang/*
!lang/core_*.ini
!lang/builtin_libs_*.ini

plugins/*
!plugins/0Core.plugin.py
!plugins/0Permissions.plugin.py
